# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Secret files
appsettings.*.json

# Rider IDE files
.idea/
*.sln.iml

